@attribute [Route(PageRoute.ChatPanel)]
@attribute [HUIPageSettings("Chat panel")]

<DemoPageLayout TItem="ChatPanel">
    <MudText>Place this in a right-hand side MudDrawer</MudText>

 <div style="width: 400px;">
    <DemoExample ComponentType="typeof(Hedin.UI.Demo.Pages.Components.ChatPanel.Examples.Example)" />
 </div>
</DemoPageLayout>