<HUIModule Header="Some skeletons..." IsExpanded="true">
    <div class="d-flex gap-3 mb-3">
        <HUISkeletonList Width="100px" />
    </div>
    <div class="d-flex gap-6 mb-3">
        <HUISkeletonList Height="80px" Width="200px" Count="4" />
    </div>
</HUIModule>