::deep .hui-group-panel {
  &-divider {
    border: none;
    background-image: repeating-linear-gradient(
      to right,
      var(--mud-palette-divider) 0,
      var(--mud-palette-divider) 8px,
      transparent 8px,
      transparent 12px
    );
    height: 1px;
  }

  &-content {
    padding-bottom: 8px;
  }

  &-fields {
    flex-grow: 1;
  }

  &-title {
    font-weight: bold;
    font-size: 1.0rem;
  }
}