@namespace Hedin.UI
<div class="hui-group-panel">
    <MudStack Spacing="5">
        @if (!_isFirst)
        {
            <MudDivider Class="hui-group-panel-divider"></MudDivider>
        }
        <MudGrid class="hui-group-panel-content">
            <MudItem xs="12" sm="@TitleWidth">
                <MudStack Spacing="1">
                    <MudStack Spacing="1" Row AlignItems="AlignItems.Center">
                        @if (TitleContent == null)
                        {
                            <div class="hui-group-panel-title">@Title</div>
                        }
                        else
                        {
                            @TitleContent
                        }
                    </MudStack>
                    @if (InfoContent != null)
                    {
                        @InfoContent
                    }
                </MudStack>
            </MudItem>
            <MudItem xs="12" sm="@ContentWidth">
                @ChildContent
            </MudItem>
        </MudGrid>
    </MudStack>
</div>

@code {

    private bool _isFirst;
    private int TitleWidth => 12 - ContentWidth;

    [CascadingParameter]
    private HUIGroupPanelContainer? Container { get; set; }

    /// <summary>
    /// Title displayed in the group panel.
    /// </summary>
    [Parameter]
    public string? Title { get; set; }

    /// <summary>
    /// Content displayed in the group panel to the right of the title.
    /// </summary>
    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Optional content displayed below the title in the group panel. Can be used for additional information or controls related to the group.
    /// </summary>
    [Parameter]
    public RenderFragment? InfoContent { get; set; }

    /// <summary>
    /// Override the default title with custom content. If set, this will replace the Title parameter and allow for more complex title layouts, such as including additional controls or styling.
    /// </summary>
    [Parameter]
    public RenderFragment? TitleContent { get; set; }

    /// <summary>
    /// Width of the main content section on small screens and up. Must be between 2 and 10.
    /// The title and info section will use the remaining width.
    /// </summary>
    [Parameter]
    public int ContentWidth { get; set; } = 8;

    protected override void OnInitialized()
    {
        if (Container is not null)
        {
            _isFirst = Container.RegisterChild() == 0;
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (ContentWidth is < 2 or > 10)
        {
            throw new ArgumentOutOfRangeException(nameof(ContentWidth), ContentWidth, $"{nameof(ContentWidth)} must be between 2 and 10.");
        }
    }
}
