<HUIFrame>
    <HUIFrameItem Label="Label 1" Primary="false">
        <ValueContent>
            <span class="d-flex gap-3">
                <MudText Class="hui-text-semibold">2024-11-22</MudText>
                <HUITooltip Text="Tooltip test">
                    <TooltipContent>
                        <MudText Class="hui-text-s" Style="color: var(--mud-palette-gray-dark)">Value change, last value was:</MudText>
                        <MudText Class="hui-text-s hui-text-semibold">1994-05-07</MudText>
                    </TooltipContent>
                    <ChildContent>
                        <MudBadge Icon="@Icons.Material.Filled.Sync" Color="Color.Info"></MudBadge>
                    </ChildContent>
                </HUITooltip>
            </span>

        </ValueContent>
    </HUIFrameItem>
</HUIFrame>