@namespace Hedin.UI

<MudExpansionPanels Elevation="0" Class="hui-rounded-s">
    <MudExpansionPanel Class="hui-module-dense mb-1" Style="@(IsExpanded ? "background-color: var(--mud-palette-gray-light) !important" : "")" @bind-Expanded="IsExpanded">
        <TitleContent>
            <div class="d-flex justify-space-between">
                <MudText Class="align-self-center">@Header</MudText>
                <div class="d-flex gap-1 align-center">
                    @if (IsExpanded)
                    {
                        @Buttons
                    }
                </div>
            </div>
        </TitleContent>
        <ChildContent>
            <div class="pb-1">
                <div class="px-3 py-1">
                    @ChildContent
                </div>
            </div>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    /// <summary>
    /// Text displayed as the contact group header.
    /// Describes the group of contacts.
    /// </summary>
    [Parameter] public string? Header { get; set; }
    
    /// <summary>
    /// Controls whether the contact group is expanded or collapsed.
    /// Determines the visibility of the contact list.
    /// </summary>
    [Parameter] public bool IsExpanded { get; set; } = false;
    
    /// <summary>
    /// The content to display within the contact group.
    /// Typically contains individual contact items.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    /// <summary>
    /// Custom buttons to display in the contact group header.
    /// Shown only when the group is expanded.
    /// </summary>
    [Parameter] public RenderFragment? Buttons { get; set; }
}