@attribute [Route(PageRoute.Breadcrumbs)]
@attribute [HUIPageSettings("Breadcrumbs")]

<DemoPageLayout TItem="Breadcrumbs" HUIComponent="typeof(HUIBreadcrumbs)">
    <div>
        <DemoExample ComponentType="typeof(Hedin.UI.Demo.Pages.Components.Breadcrumbs.Examples.Example1)" />

    </div>
</DemoPageLayout>

