<HUIModule Header="Advanced Module" IsExpanded="true">
    <Buttons>
        <HUIIconButton Icon="@Icons.Material.Filled.MoreVert" />
        <HUIIconButton Icon="@Icons.Material.Filled.Search" />
    </Buttons>
    <ChildContent>
        <HUIModuleSection Header="HUI module section" IsExpanded="true">
            Module Content
        </HUIModuleSection>
    </ChildContent>
    <Footer>
        <span class="d-flex justify-end">
            <HUIButton Variant="Variant.Filled" Color="Color.Primary">Some Button</HUIButton>
        </span>
    </Footer>
</HUIModule>