<HUIModule Header="Not Expandable Module" Expandable="false">
    <Buttons>
        <HUIIconButton Icon="@Icons.Material.Filled.Close" />
    </Buttons>
    <ChildContent>
        Module Content
    </ChildContent>
    <Footer>
        <span class="d-flex justify-end">
            <HUIButton Variant="Variant.Filled" Color="Color.Primary">Some Button</HUIButton>
        </span>
    </Footer>
</HUIModule>