/*.albin{

}*/
/*.dp-app-icons {
    background: red;
}
:deep .mud-dialog {
    $bg-color: var(--mud-palette-background);
    background-color: $bg-color;

    .mud-dialog-content {
        background-color: $bg-color;
    }
}

.albin-test{
    background:red;
}*/