.hui-module-section {
    .hui-module-section-caption-line {
        border-top-color: var(--mud-palette-divider);
        border-top-style: solid;
        border-top-width: 1px;
        margin-left: 12px;
        margin-top: 9px;
        width: 100%;
    }
}
