.panel-container {
    container-type: inline-size;
    container-name: panel-container;
}
$hui-frame-border: 1px solid var(--mud-palette-lines-inputs);

.hui-frame {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1px;
    border: $hui-frame-border;
    border-radius: 4px;
    background-color: var(--mud-palette-gray-dark);
    overflow: hidden;
}

/* Items */
.hui-frame > * {
    min-height: 70px;
    min-width: 0;
    background-color: var(--mud-palette-surface);
    overflow-wrap: anywhere;
    word-break: break-word;
}

/* If a single child should stretch full width */
.hui-frame > .hui-frame-item:only-child {
    grid-column: 1 / -1;
}