#components-reconnect-modal {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: var(--mud-elevation-12);
    margin: 50px 50px;
    z-index: 10001;
}
